
@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Black.woff') format('woff'), url('../fonts/Lato-Black.ttf')  format('truetype'), url('../fonts/Lato-Black.svg#Lato-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato-BlackItalic';
  src: url('../fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-BlackItalic.woff') format('woff'), url('../fonts/Lato-BlackItalic.ttf')  format('truetype'), url('../fonts/Lato-BlackItalic.svg#Lato-BlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf')  format('truetype'), url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-BoldItalic.woff') format('woff'), url('../fonts/Lato-BoldItalic.ttf')  format('truetype'), url('../fonts/Lato-BoldItalic.svg#Lato-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato-Hairline';
  src: url('../fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Hairline.woff') format('woff'), url('../fonts/Lato-Hairline.ttf')  format('truetype'), url('../fonts/Lato-Hairline.svg#Lato-Hairline') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Lato-HairlineItalic';
  src: url('../fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-HairlineItalic.woff') format('woff'), url('../fonts/Lato-HairlineItalic.ttf')  format('truetype'), url('../fonts/Lato-HairlineItalic.svg#Lato-HairlineItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato-Italic';
  src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Italic.woff') format('woff'), url('../fonts/Lato-Italic.ttf')  format('truetype'), url('../fonts/Lato-Italic.svg#Lato-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Light.woff') format('woff'), url('../fonts/Lato-Light.ttf')  format('truetype'), url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato-LightItalic';
  src: url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-LightItalic.woff') format('woff'), url('../fonts/Lato-LightItalic.ttf')  format('truetype'), url('../fonts/Lato-LightItalic.svg#Lato-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf')  format('truetype'), url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaInseratLTStd-Roman';
  src: url('../fonts/HelveticaInseratLTStd-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaInseratLTStd-Roman.otf')  format('opentype'),
       url('../fonts/HelveticaInseratLTStd-Roman.woff') format('woff'), url('../fonts/HelveticaInseratLTStd-Roman.ttf')  format('truetype'), url('../fonts/HelveticaInseratLTStd-Roman.svg#HelveticaInseratLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}




html, body{font-family: 'Lato-Regular'; height: 100%; width: 100%; overflow: hidden;}
a, a:hover, a:focus, a:active{text-decoration: none; outline: none;}
.animationbox{position: relative;}
.animationbox:after{
  content: '';
    display: block;
    width: 0;
    height: 100%;
    background-color: #f7a900;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    z-index: -1;
}
.animationbox:hover:after{border-color: #f7a900; color: #FFF; opacity: 1; width: 100%;}


/*--animation-scroll-css--*/
#container, .sections {
    height: 100%;
    width: 100%;
    position: relative;
    /*top: 49px;*/
}
.section > .container{padding-top: 99px; height: 100%;}
footer{padding-top: 99px;}
/*--end--*/


/*--offcanvas-css--*/
#sidebar{opacity: 0;}
.sidebar-offcanvas-menu .sidebar-wrapper {position: relative; height: 100%; overflow: auto;}
#sidebar.sidebar-wrapperd-box{opacity: 1;}
.sidebar-offcanvas-menu .outer {height: 100%; background: #000; overflow: auto; padding: 20px;}
.sidebar-offcanvas-menu .inner {padding: 10px;}
.sidebar-offcanvas-menu #sidebar {position: fixed; top: 0px; bottom: 0px; width: 300px; left: -300px;}
.sidebar-offcanvas-menu .sidebar-top-header:after{content: ''; display: table; width: 100%;}
.sidebar-offcanvas-menu .sidebar-top-header {background-color: #000; padding: 15px; border: #5d5d5d 1px dashed;}
.sidebar-offcanvas-menu .sidebar-close-btn {text-align: right; float: right; padding:0;}
.sidebar-offcanvas-menu .sidebar-logo {float: left;}
.sidebar-offcanvas-menu .sidebar-logo img {max-width: 90px; margin: 0 auto;}
.sidebar-offcanvas-menu .sidebar-close-btn a {color: #FFF; font-size: 20px; text-align: right; padding: 10px 0 0; cursor: pointer;}
.sidebar-offcanvas-menu ul.sidebar-menu, .sidebar-offcanvas-menu ul.sidebar-menu ul#menu-sidebar-menu-desktop {padding: 0; margin: 0;}
.sidebar-offcanvas-menu ul.sidebar-menu li {display: block;}
.sidebar-offcanvas-menu ul.sidebar-menu li a {color: #fff;  display: block; text-transform: uppercase; padding: 5px 0; font-size: 14px;}
ul.sidebar-menu > li {border: #5d5d5d 1px dashed; padding: 5px 15px; margin-top: 10px;}
.sidebar-offcanvas-menu .inner {padding: 0;}
ul.sidebar-menu > li > a:after {content: "\f107"; font-family: FontAwesome; color: #FFF; position: absolute; right: 0; font-size: 20px; line-height: 20px;}
ul.sidebar-menu > li a {position: relative;}
ul.sidebar-menu > li > ul {padding: 0; margin: 0; display: none;}
ul.sidebar-menu > li > ul > li a {text-transform: capitalize !important; padding-left: 10px !important; font-size: 12px !important;}
/*--offcanvas-css-end--*/


/*--submenu-css--*/
.submenu-1{display: none;}
.submenu-1.menuddropactive{display: block;}
.submenu-1{
    background-color: #212223;
    position: absolute;
    width: 100%;
    z-index: 999999 !important;
    top: 99px;
    padding: 10px 0 30px;
}
.menu-box-sub1 h4 {
    margin: 0;
    padding: 20px 0 10px;
    position: relative;
    text-transform: uppercase;
}
.menu-box-sub1 h4 a{color: #FFF;}
.menu-box-sub1 h4:after {
    height: 2px;
    width: 5rem;
    background: #00a5b4;
    content: "";
    display: block;
    margin-top: 0.5rem;
}
ul.sub-menu-suchild {
    padding: 0;
    margin: 0;
}
ul.sub-menu-suchild li {
    display: block;
    padding: 5px 0;
}
ul.sub-menu-suchild li a {
    color: #FFF;
    font-size: 14px;
    opacity: 0.8;
    display: block;
        border: rgba(255, 255, 255, 0.38) 1px dashed;
    padding: 10px;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    position: relative;
}
ul.sub-menu-suchild li a:after {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    background-color: #00a5b4;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    z-index: -1;
}
ul.sub-menu-suchild li a:hover {
    border-color: #00a5b4;
    color: #FFF;
    opacity: 1;
}
ul.sub-menu-suchild li a:hover:after{width: 100%;}
/*--end--*/




header {position: fixed; top: 0; z-index: 9999 !important; width: 100%; height: 49px;}

.top-navbar{background: #000; color: #fff; position: relative; z-index: 1; min-height: 31px;}
.top-navbar ul.left-info {padding: 0; margin: 0; display: inline-block; height: 100%; vertical-align: middle;}
.top-navbar ul.left-info li {display: inline-block; padding: 3px 0;}
.top-navbar ul.contact-info {display: inline-block; vertical-align: middle; margin: 0; height: 100%; padding: 0; float: right;}
.top-navbar ul.contact-info li{display: inline-block; padding: 4px 0;}
ul.contact-info .colorbox-contact {border: 1px solid #ffbc46; padding: 4px 16px; color: #000; border-radius: 100px; line-height: 1; font-size: 10px; background-color: #ffbc46; text-transform: uppercase;}
.top-navbar ul.left-info a {color: #FFF; padding: 2px 10px; display: block;}
li.language.drop:after {content: "\f0d7"; font-family: FontAwesome; padding-left: 5px;}
header .contact-info .country .flag {width: 30px; height: 20px; display: inline-block; background-image: url(https://www.neosofttech.com/sites/all/themes/neosoft2017/images/icon.svg); background-position: 0 0; background-repeat: no-repeat; vertical-align: middle; margin-right: 0.1rem;}
span.us.flag {background-image: url(https://www.neosofttech.com/sites/all/themes/neosoft2017/images/us-flag.png) !important;}
.country-list .country-main.drop:after {content: "\f0d7"; font-family: FontAwesome; padding-left: 2px;}
header .contact-info li.contact {padding-right: 20px;}


.mobile-menubtn{display: none;}
.buttonmenu {width: 28px; height: 22px; cursor: pointer;}
.buttonmenu span {width: 28px; height: 2px; background-color: #2d2d2d; display: block; margin: 7px 0;}

.logoboxmain {padding-left: 0;}
.main-header {padding: 13px 0;border-bottom: 1px solid #e5e5e5; background-color: #FFF;}
.desktop-menubox ul {padding: 0; margin: 0; text-align: center;}
.desktop-menubox ul li {display: inline-block; padding: 5px 10px; position: relative;}
.desktop-menubox ul li a {background-color: #FFF; color: #000; padding: 5px 10px; border-radius: 100px; position: relative; text-transform: uppercase;}
.desktop-menubox ul li a:after {content: "\f107"; font-family: FontAwesome; font-size: 17px; padding-left: 5px;}
.desktop-menubox ul li:before {
    position: absolute;
    bottom: -21px;
    content: '';
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.desktop-menubox ul li.activemenu:before {
    border-bottom: 8px solid #212223;
}
.desktop-menubox ul li.activemenu a{background-color: #212223; color: #FFF;}
.desktop-menubox ul li.activemenu a:after{color: #FFF;}
.cemilebeldiv {background-color: #2d2d2d; padding: 2px; color: #FFF; text-align: center; width: 78px; height: 76px;}
ul.level-2box {padding: 0; margin: 0; position: absolute; right: 0; top: -13px; z-index: 99;}
ul.level-2box li {float: left; display: block; border: #FFF 1px solid; border-top: none;}
li.explbelbox .exp {background-color: #00a5b4; color: #FFF; text-align: center; width: 78px; height: 76px;}
span.cemicount {display: block; font-size: 25px; line-height: 26px}
.exp span.count {display: block; font-size: 25px; line-height: 26px;}
li.explbelbox {margin-left: 12px;}



/*--sec-1-css--*/
.banner-sliderbox {padding: 20px 0 0;}
.banner-sliderbox .container{background-image: url(../img/banner.jpg); background-size: cover; background-repeat: no-repeat; padding-top: 99px;}
.slider-home-text {max-width: 609px; margin: 0 auto; text-align: center; padding: 100px 0;}
.slider-home-text h1 {font-size: 78px; font-family: 'Lato-Black'; margin: 0; line-height: 67px;}
.slider-home-text h2 {font-size: 66px; margin: 0; line-height: 60px;}
.lefs-explore-btn a {background-color: #00a5b4; padding: 4px 10px; color: #FFF; text-transform: uppercase; font-family: 'Lato-Bold'; word-spacing: 3px; letter-spacing: 1px; position: relative; transition: all .3s ease-in; -webkit-transition: all .3s ease-i}
.lefs-explore-btn a:hover{color: #FFF; background-color: #f7a900}
.lefs-explore-btn {padding: 16px 0;}
.line-box {width: 100%; height: 0;}
.line-box span {display: block;height: 1px; background-color: #e5e5e5;}
.slider-home-text p {color: #2d2d2d; font-size: 16px; padding: 10px 0 0; margin: 0;}


.client-sliderbox {padding: 20px 0;}
.total-clienttext h2{font-family: 'Lato-Black'; font-size: 28px; line-height: 30px; margin: 0; border-right: 1px solid #e5e5e5; margin-right: 16px;}
.total-clienttext h2 span {font-size: 15px;display: block;font-family: 'Lato-Regular';}

.client-slider .slick-prev {left: 0;}
.client-slider .slick-next {right: 0;}
.client-slider .slick-prev:before, .slick-next:before{color: #000; opacity: 1;}
.client-slider .slick-next:before {content: "\f105" !important; font-family: FontAwesome;}
.client-slider .slick-prev:before {content: "\f104" !important; font-family: FontAwesome;}
.client-slider .slider-1 {-webkit-filter: grayscale(1); filter: grayscale(1); text-align: center; transition: all .3s ease-in; -webkit-transition: all .3s ease-in;}
.client-slider .slider-1 img{margin: 0 auto; max-width: 110px;}
.client-slider .slider-1:hover{-webkit-filter: grayscale(0); filter: grayscale(0);}
.client-sliderbox .container {background-color: #FFF;padding: 10px;}
/*--end--*/

/* ---- home-banner-particale-js-css ---- */
.home-banner-animation{position: relative; height: 668px;}
.home-banner-animation .banner-homec-ntentbox {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
.js-count-particles{font-size: 1.1em;}
#stats,.count-particles{-webkit-user-select: none;margin-top: 5px;margin-left: 5px;}
#stats{border-radius: 3px 3px 0 0;overflow: hidden;}
.count-particles{border-radius: 0 0 3px 3px;}
/*--end--*/





/*--footer-css--*/
footer section.top-sec {background-color: #fff; padding: 40px 0;}
.footer-logobox {text-align: center;}
.social-box ul {padding: 0; margin: 0; text-align: center;}
.social-box ul li {display: inline-block; padding: 5px;}
.social-box ul li a {width: 30px; height: 30px; display: block; background-color: #CCC; border-radius: 100px; line-height: 30px; text-align: center; color: #2d2d2d; transition: all .3s ease-in; -webkit-transition: all .3s ease-in;}
.social-box {padding: 20px 0 0;}
.tagline-content {max-width: 188px; height: 58px; text-align: center; margin: 0 auto;}
.tagline-box .tagline-content {background: url(../img/footer-badgesince.png) no-repeat center top 5px; background-size: 72%;}
.tagline-content h4 {font-size: 33px; font-family: 'Lato-Black'; line-height: 53px;}

footer section.mid-sec-menu {background-color: #0c0c0c; padding: 40px 0;}
.menubox-1 h2 {font-size: 16px;color: #FFF;margin: 0; padding: 10px 0 15px; position: relative;}
.menubox-1 h2:after {content: ''; display: block; width: 40px; height: 2px; background-color: #00a5b4; margin-top: 6px;}
.menubox-1 ul {padding: 0; margin: 0;}
.menubox-1 ul li {display: block; padding: 3px 0; position: relative;}
.menubox-1 ul li a {color: #5a5a5a; font-size: 13px; transition: all .2s ease-in; -webkit-transition: all .2s ease-in;}
.menubox-1 ul li:hover a {color: #00a5b4;}

footer section.copyrightbox {background-color: #00a5b4;}
.copyright-box {color: #FFF; padding: 10px 0;}
ul.copyrightmenu li a {color: #FFF;}
ul.copyrightmenu li:after {content: "|";padding: 0 10px; color: #FFF;}
ul.copyrightmenu li {display: inline-block; position: relative;}
ul.copyrightmenu {padding: 10px 0; margin: 0; text-align: right;}
ul.copyrightmenu li:last-child:after {display: none;}
/*--end--*/


/*--who-we-are-sec--*/
.who-weare-sec .left-contentbox {width: 70%; height: 100%;}
.who-weare-sec .right-sidebarbox {width: 30%; height: 100%;}
section.who-weare-sec {background-color: #f8f8f8; /*padding-top: 53px;*/}
section.who-weare-sec > .container > .row {height: 100%; display: table;}
.who-weare-textbox {padding: 10px 0 0;}
.who-weare-textbox h2 {color: #2d2d2d; margin: 0; padding: 20px 0; position: relative;}
.who-weare-textbox h2:after {height: 2px; width: 5rem; background: #00a5b4; content: ""; display: block; margin-top: 0.5rem;}


.who-wearecontentbox .imgbox {width: 100%; height: 171px; background-color: #FFF; box-shadow: 0 2px 10px rgba(0,0,0,0.2); border-radius: 0; text-align: center; padding: 25px;}
.who-wearecontentbox .imgbox h4 {text-transform: uppercase; padding: 20px 0 0;}
.who-wearecontentbox .box-1 {padding: 10px 0;}
.who-wearecontentbox .box-1 p {text-align: center; padding: 10px 0; color: #2d2d2d;}
.who-wearecontentbtn .btnbox {text-align: center;}
.who-wearecontentbtn .btnbox a {border: #2d2d2d 1px solid; padding: 6px 14px; display: inline-block; color: #2d2d2d; text-transform: uppercase; z-index: 0; position: relative; cursor: pointer;}
.who-wearecontentbox .box-1m {padding-left: 0;}
.who-wearecontentbtn {padding: 0 0 30px;}


.who-weare-sdebar {padding: 0; height: 100%; background-color: #2d2d2d; background-image: url(../img/world-map.png); background-repeat: no-repeat; background-position: center 50%;}
.box-2.vision-box {background-color: #f7a900; text-align: center;}
.box-2.vision-box h2 {margin: 0; color: #FFF; font-family: 'Lato-Black'; font-size: 47px; padding: 53px 0;}
.who-weare-sdebar .box-1 {padding: 10px 15px;}
.who-weare-sdebar .box-1 ul li h2 {font-family: 'Lato-Black'; font-size: 50px; color: #f7a900; margin: 0;}
.who-weare-sdebar .box-1 ul li{text-align: center; border-bottom: #4e4d4d 1px solid; padding: 5px 0; display: block;}
.who-weare-sdebar .box-1 ul li:last-child{border: none;}
.who-weare-sdebar .box-1 ul {padding: 0; margin: 0;}
.who-weare-sdebar .box-1 ul li p {color: #939393; padding: 5px 0 0;}
.who-weare-sdebar .box-1 ul li h4 {color: #FFF; text-transform: uppercase; font-family: 'Lato-Bold'; font-size: 24px; line-height: 26px; margin: 0;}
/*--end--*/


/*--what-wedo-sec-css--*/
.what-wedo-sec .right-sidebarbox {width: 30%; height: 100%;}
.what-wedo-sec .left-contentbox {width: 70%; height: 100%;}
.what-wedo-sec > .container > .row {height: 100%; display: table;}
.what-wedo-sdebar {background-color: #f7a900; height: 100%;}
.box-1.whatwedooboxtext {padding: 18px;background-color: #2d2d2d;}
.box-1.whatwedooboxtext h2 {color: #FFF; margin: 0; padding: 0 0 10px; position: relative; font-size: 24px;}
.box-1.whatwedooboxtext h2:after {height: 2px; width: 5rem; background: #00a5b4; content: ""; display: block; margin-top: 0.5rem;}
.box-1.whatwedooboxtext h4 {color: #FFF; margin: 0; padding: 5px 0; line-height: 25px; font-size: 16px;}
.box-1.whatwedooboxtext p {color: #939393; padding: 0; margin: 0; font-size: 14px;}
.btn-boxwedo {text-align: right;}
.btn-boxwedo a {background-color: #fff;width: 30px;height: 30px;display: block;border-radius: 100px;line-height: 28px; text-align: center; color: #2d2d2d; font-size: 22px; padding-left: 2px; margin: 0 0 0 auto;}
.box-1.digital-transbox {background-color: #1e1e1e; padding: 18px;}
.box-1.digital-transbox h4 {color: #FFF; margin: 0; padding: 5px 0; line-height: 25px; position: relative; font-size: 16px;}
.box-1.digital-transbox h4:after{height: 2px; width: 5rem; background: #00a5b4; content: ""; display: block; margin-top: 0.5rem;}
.box-1.digital-transbox p {color: #939393; padding: 5px 0; margin: 0; font-size: 14px;}
.box-1.team-aguementbox {background-color: #f7a900; padding: 18px;}
.box-1.team-aguementbox h4{color: #000; margin: 0; padding: 0; line-height: 25px; position: relative; font-size: 16px;}
.box-1.team-aguementbox h4:after{height: 2px; width: 5rem; background: #00a5b4; content: ""; display: block; margin-top: 0.5rem;}
.box-1.team-aguementbox p {color: #000; opacity: 0.5; padding: 5px 0; margin: 0; font-size: 14px;}
.box-1.team-aguementbox .btn-boxwedo a {background-color: #1e1e1e;color: #ffffff;}
.what-wearecontentbox .box-1m {
    padding: 10px 15px;
}
.service-box1 h4 {
    min-height: 3rem;
    margin-bottom: 0.8rem;
    color: #2d2d2d;
    line-height: 26px;
}
.service-box1 p {
    opacity: 0.6;
    color: #2d2d2d;
}
.service-box1{    
    display: block;
    padding: 10px 15px 15px 15px;
    height: 28%;
    position: relative;
    border-width: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 0;
    cursor: pointer;
}
.what-wearecontentbox .box-1m .service-box1:after {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    left: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.what-wearecontentbox .box-1m:nth-child(1) .service-box1:after {
    background: #f7a900;
}
.what-wearecontentbox .box-1m:nth-child(2) .service-box1:after {
    background: #e23434;
}
.what-wearecontentbox .box-1m:nth-child(3) .service-box1:after {
    background: #00aae8;
}
.what-wearecontentbox .box-1m:nth-child(4) .service-box1:after {
    background: #cb48ee;
}
.what-wearecontentbox .box-1m:nth-child(5) .service-box1:after {
    background: #f98d32;
}
.what-wearecontentbox .box-1m:nth-child(6) .service-box1:after {
    background: #59bd4b;
}
.what-wearecontentbox .box-1m:nth-child(7) .service-box1:after {
    background: #0010e8;
}
.what-wearecontentbox .box-1m:nth-child(8) .service-box1:after {
    background: #d1c619;
}
.what-wearecontentbox .box-1m:nth-child(9) .service-box1:after {
    background: #2d2d2d;
}
.what-wearecontentbox .box-1m .service-box1:hover:after {
    height: 100%;
    z-index: -1;
}
.what-wearecontentbox .box-1m .service-box1:hover h4{color: #FFF;}
.what-wearecontentbox .box-1m .service-box1:hover p{color: #FFF;}
/*--end--*/


/*--we-workwith-sec-css--*/
.we-workwith-sec {
    background-color: rgb(51, 51, 51);
    /*padding: 170px 0 20p*/x;
}
.we-workwithhead h2 {
    color: #ffffff;
    margin: 0;
    padding: 20px 0;
    position: relative;
}
.we-workwithhead h2:after {
    height: 2px;
    width: 5rem;
    background: #00a5b4;
    content: "";
    display: block;
    margin-top: 0.5rem;
}
.weworkwith-box1 {
    background: rgba(0,0,0,0.5);
    margin: 0;
    display: block;
    padding: 20px;
    position: relative;
    overflow: hidden;
    color: #fff;
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.weworkwith-box1 h2 {
    font-size: 26px;
    margin: 0;
    padding: 20px 0 10px;
}
.weworkwith-box1 h6 {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding: 0 0 10px;
    height: 75px;
}
.linebox span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #FFF;
    opacity: 0.2;
}
.linebox {
    padding: 20px 0;
}
.weworkwith-box1 p {
    color: #FFF;
    opacity: 0.4;
    height: 80px;
}
.readmore-btnbox a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #00a5b4;
    color: #FFF;
    text-align: center;
    line-height: 30px;
    font-size: 17px;
    margin: 0 0 0 auto;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}
.readmore-btnbox a:hover {
    background-color: #ffbc46;
}
.we-workwith-boxes .weworkwith-box1-m {
    padding: 10px 15px;
}
.we-workwith-boxes .weworkwith-box1-m:nth-child(1) {
    padding-left: 0;
}
.we-workwith-boxes .weworkwith-box1-m:last-child {
    padding-right: 0;
}
/*--end--*/


/*--we-areserve-customer-sec-css--*/
.we-areserve-customer-sec .right-sidebarbox {width: 30%; display: table-cell; height: 100%;}
.we-areserve-customer-sec .left-contentbox {width: 70%; padding-right: 40px; display: table-cell; height: 100%;}
.we-areserve-customer-sec > .container{height: 100%;}
.we-areserve-customer-sec > .container > .row {display: table !important; height: 100%;}
.we-areserve-customerhead h2 {
    margin: 0;
    padding: 20px 0;
    position: relative;
}
.we-areserve-customerhead h2:after {
    height: 2px;
    width: 5rem;
    background: #00a5b4;
    content: "";
    display: block;
    margin-top: 0.5rem;
}
.we-areserve-customer-contbox table {
    background-color: #FFF;
    background: #fff;
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-width: 0;
    width: 100%;
}
.we-areserve-customer-contbox td {
    border-color: rgba(0,0,0,0.1);
    text-align: center;
}
.we-areserve-customer-contbox .img-box {
    padding: 25px 0;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    text-align: center;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}
.we-areserve-customer-contbox .img-box:hover{-webkit-filter: grayscale(0); filter: grayscale(0);}
span.we-areserve-clientbtn a {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #00a5b4;
    color: #FFF;
    text-align: center;
    line-height: 35px;
    font-size: 17px;
    margin: 0 0 0 auto;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}
span.we-areserve-clientbtn a:hover{background-color: #ffbc46;}



.we-serveclient-rightbar {
    background-color: #2d2d2d;
    display: table;
    vertical-align: middle;
    /*padding: 113px 0;*/
    height: 100%;
    width: 100%;
}
.we-serveclient-rightbar h2 {
    display: table-cell;
    vertical-align: middle;
    font-size: 44px;
    font-family: 'Lato-Bold';
    color: #FFF;
    padding: 0 35px;
}
.we-serveclient-rightbar h2 span {
    color: #f7a900;
    font-family: 'Lato-Black';
    font-size: 77px;
    display: block;
    padding: 10px 0;
}
/*--end--*/



/*--why-chooseus-sec-css--*/
.why-chooseus-sec{background-image: url(../img/background.jpg); background-size: cover;}
.why-chooseus-sec .container {height: 100%; position: relative;}
.why-chooseushead h2 {
    color: #ffffff;
    margin: 0;
    padding: 20px 0;
    position: relative;
}
.why-chooseushead h2:after {
    height: 2px;
    width: 5rem;
    background: #00a5b4;
    content: "";
    display: block;
    margin-top: 0.5rem;
}
.why-chooseus-listbox ul.why-chooseus-list {
    padding: 20px 0;
    margin: 0;
}
ul.why-chooseus-list li.liastbox-1 {
    display: inline-block;
    width: calc(100%/3);
    float: left;
    margin-right: 0;
    margin-bottom: 1.5%;
    text-align: left;
    position: relative;
    padding-left: 55px;
    height: 70px;
}
ul.why-chooseus-list li.liastbox-1:before {
    content: "";
    display: inline-block;
    position: absolute;
    font-size: 2.5rem;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    left: 0px;
    line-height: 44px;
    background: #555555;
    height: 40px;
    font-family: 'HelveticaInseratLTStd-Roman';
    width: 32px;
    text-align: right;
}
ul.why-chooseus-list li.liastbox-1 h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
ul.why-chooseus-list li.liastbox-1 p {
    color: #cecece;
    font-size: 12px;
}
ul.why-chooseus-list li.liastbox-1:nth-child(1):before {
    content: "1";
}
ul.why-chooseus-list li.liastbox-1:nth-child(2):before {
    content: "2";
}
ul.why-chooseus-list li.liastbox-1:nth-child(3):before {
    content: "3";
}
ul.why-chooseus-list li.liastbox-1:nth-child(4):before {
    content: "4";
}
ul.why-chooseus-list li.liastbox-1:nth-child(5):before {
    content: "5";
}
ul.why-chooseus-list li.liastbox-1:nth-child(6):before {
    content: "6";
}
ul.why-chooseus-list li.liastbox-1:nth-child(7):before {
    content: "7";
}
ul.why-chooseus-list li.liastbox-1:nth-child(8):before {
    content: "8";
}
ul.why-chooseus-list li.liastbox-1:nth-child(9):before {
    content: "9";
}
ul.why-chooseus-list li.liastbox-1:nth-child(10):before {
    content: "10";
}
ul.why-chooseus-list li.liastbox-1:nth-child(11):before {
    content: "11";
}
ul.why-chooseus-list li.liastbox-1:nth-child(12):before {
    content: "12";
}


.why-chooseus-countbox {
    background-color: #d59524;
    padding: 15px;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 90px;
}
.why-chooseus-countboxm ul:after {
    content: '';
    display: table;
    width: 100%;
}
.why-chooseus-countboxm ul {
    padding: 0;
    margin: 0;
}
.why-chooseus-countboxm ul li {
    width: 33.33%;
    float: left;
    color: #4c3610;
    display: block;
}
.why-chooseus-countboxm ul li .why-neo-num {
    width: 42%;
    float: left;
}
.why-chooseus-countboxm ul li .why-neo-num p {
    font-size: 40px;
    font-weight: 800;
    vertical-align: middle;
    text-align: right;
    margin: 0;
}
.why-chooseus-countboxm ul li .why-neo-num p span {
    font-weight: 800;
    font-family: 'HelveticaInseratLTStd-Roman';
}
.why-chooseus-countboxm ul li .why-neo-num p sup {
    position: relative;
    left: -12px;
    font-family: 'Lato-Bold';
}
.why-chooseus-countboxm ul li .why-neo-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 38%;
    float: left;
    padding-left: 16px;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.why-chooseus-countboxm ul li .why-neo-info:before {
    content: "";
    position: absolute;
    left: 0px;
    background: #4c3610;
    width: 2px;
    height: 50px;
}
.why-chooseus-countboxm ul li .why-neo-info h3 {
    font-size: 20px;
    line-height: 21px;
    margin: 0;
    vertical-align: middle;
    font-weight: 800;
    text-transform: uppercase;
}
/*--end--*/


/*--home-blog-selider-sec-css--*/
.blog-homesec{background-image: url(../img/blog-bg.jpg); background-size: cover; background-repeat: no-repeat;}
.blogsechead h2{
  margin: 0;
    padding: 20px 0;
    position: relative;
    text-align: center;
}
.blogsechead h2:after{
  height: 2px;
    width: 5rem;
    background: #00a5b4;
    content: "";
    display: block;
    margin: 5px auto 0;
}
.content-slide1-box {
    display: block;
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.15);
    background-color: #FFF;
}
.slider-box-main .slider-1.slick-slide {
    padding: 20px;
}
.content-slide1-box .img-box {
    background-color: #FFF;
}
.content-slide1-box .img-box img {
    width: 100%;
    height: auto;
}
.content-slide1-box .contentbox {
    padding: 20px;
    text-align: center;
        height: 292px;
}
.blog-readmorebtn {
    padding: 0 20px 20px;
}
.blog-readmorebtn a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #00a5b4;
    color: #FFF;
    text-align: center;
    line-height: 30px;
    font-size: 17px;
    margin: 0 auto;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}
.slider-box-main .slick-next:before {
    content: "\f105" !important;
    font-family: FontAwesome;
}
.slider-box-main .slick-next:before, .slider-box-main .slick-prev:before{
  background-color: #050505;
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: block;
}
.slider-box-main.slick-prev:before, .slick-next:before {
    color: #000;
    opacity: 1;
}
.slider-box-main .slick-prev:before {
    content: "\f104" !important;
    font-family: FontAwesome;
}
.slider-box-main .slick-prev:before, .slider-box-main .slick-next:before {
    color: #FFF;
    opacity: 1;
}

/*--end--*/



@media (min-width: 1400px){  
  /* --home-banner-particale-js-css -- */
  .home-banner-animation .banner-homec-ntentbox {height: 668px;}
  .home-banner-animation{position: relative; height: 100vh;}
  .client-sliderbox {position: absolute; width: 100%; bottom: 0;}
  /*--end--*/

  /*--section.who-weare-sec-css--*/
  .box-2.vision-box {height: 100%;}
  .who-weare-sdebar {height: 100vh; overflow: hidden;}
  /*--end--*/

  /*--what-wedo-sec-css--*/
  .service-box1 {height: 26vh;}
  /*--end--*/
}

@media (max-width: 1400px){
  .why-chooseus-countbox {position: inherit;}
}

@media (max-width: 1250px){
  .section > .container {padding-top: 0;}
  .section {height: auto;}
  footer {padding-top: 0;}

  /*--home-page-blog-slider-css--*/
  .row.blog-slierbox {max-width: 1105px; margin: 0 auto !important;}
  /*--end--*/

  .we-areserve-customer-sec .right-sidebarbox, .we-areserve-customer-sec .left-contentbox {display: block; height: auto;}
}

@media (max-width: 1199px){
  html, body{height: 100%; width: 100%; overflow-x: hidden; overflow-y: auto;}
}

@media (max-width: 1199px){
  /*--header-css--*/
  .menuboxmain {padding: 0;}
  .cemilebeldiv {width: 70px;}
  li.explbelbox .exp {width: 70px;}
  .logoboxmain {padding: 0;}
  /*--end--*/

  /*--home-banner-css--*/
  .home-banner-animation {height: 674px;}
  .client-slider {margin: 0 !important;}
  /*--end--*/

  /*--home-page-blog-slider-css--*/
  .slider-box-main .slick-prev {left: 0; z-index: 9 !important;}
  .slider-box-main .slick-next {right: 15px; z-index: 9 !important;}
  .content-slide1-box .contentbox h3 {font-size: 18px; line-height: 24px;}
  .content-slide1-box .contentbox {height: 312px;}
  /*--end--*/

  /*--we-workwith-sec-css--*/
  .row.we-workwithhead, .row.we-workwith-boxes {margin: 0;}
  /*--end--*/

  /*--we-areserve-customer-sec-css--*/
  .we-areserve-customer-sec > .container > .row {margin: 0;}
  .we-serveclient-rightbar h2 {font-size: 38px;}
  .we-serveclient-rightbar h2 span {font-size: 68px;}
  .we-areserve-customer-contbox .img-box {padding: 5px 0;}
  .we-serveclient-rightbar {padding: 90px 0;}
  /*--end--*/
}

@media (max-width: 991px){
  .submenu-1{display: none !important;}
  /*--header-css--*/
  .menuboxmain {display: none;}
  .mobile-menubtn{display: block; padding: 6px 0;}
  .logo-box {text-align: center;}
  /*--end--*/


  /*--who-weare-sec-css--*/
  section#section1 > .container > .row {margin-left: 0;}
  .who-weare-sec .left-contentbox {width: 65%;}
  .who-weare-sec .right-sidebarbox {width: 35%;}
  .who-wearecontentbox .box-1 p {font-size: 12px;}
  .who-wearecontentbox .imgbox h4 {font-size: 16px;}
  .who-wearecontentbox .imgbox{padding: 10px;}
  /*--end--*/

  /*--what-wedo-sec section-css--*/  
  .what-wedo-sec .right-sidebarbox {width: 35%;}
  .what-wedo-sec .left-contentbox {width: 65%;}
  .box-1.team-aguementbox h4 {font-size: 14px;}
  .box-1.digital-transbox h4 {line-height: 22px;font-size: 14px;}
  .box-1.whatwedooboxtext h4 {line-height: 22px; font-size: 14px;}
  .service-box1 h4 {min-height: 42px; line-height: 21px; font-size: 16px; margin: 0; padding-bottom: 10px;}
  .service-box1 {padding: 10px;}
  .what-wearecontentbox .box-1m {padding: 7px;}
  /*--end--*/

  /*--weworkwith-sec-css--*/
  .weworkwith-box1 h6 {font-size: 13px;height: 102px;}
  .weworkwith-box1 p {height: 128px;}
  .row.we-workwith-boxes {margin: 0;}
  .row.we-workwithhead {margin: 0;}
  /*--end--*/

  /*--we-areserve-customer-sec-css--*/
  .we-areserve-customer-sec .left-contentbox {width: 65%; padding-right: 15px;}
  .we-areserve-customer-sec .right-sidebarbox {width: 25%;}
  .we-serveclient-rightbar h2 {font-size: 38px; padding: 0 15px;}
  /*--end--*/

  /*--why-chooseus-sec-css--*/
  ul.why-chooseus-list li.liastbox-1 {height: 95px;}
  .why-chooseus-countboxm ul li .why-neo-num p span {font-size: 32px;}
  .why-chooseus-countboxm ul li .why-neo-info h3 {font-size: 13px;}
  .why-chooseus-countboxm ul li .why-neo-info {padding-left: 10px;}
  .why-chooseus-countboxm ul li .why-neo-info {width: 42%;}
  .why-chooseus-countboxm ul li .why-neo-num p {line-height: 42px;}
  /*--end--*/
}


@media (max-width: 767px){
  /*--header-css--*/
  ul.level-2box {position: inherit; top: 0;}
  ul.level-2box:after {content: ''; display: table; width: 100%;}
  ul.level-2box li {width: 50%; border: none;}
  .cemilebeldiv {width: 100%;height: 25px;}
  li.explbelbox .exp {width: 100%; height: 25px;}
  li.explbelbox {margin-left: 0;}
  span.cemicount {display: inline-block; font-size: 14px; line-height: 25px;}
  span.cemilebel br {display: none;}
  .exp span.count {display: inline-block; font-size: 14px; line-height: 25px;}
  .logoboxmain {position: absolute;top: 0;left: 0;right: 0; max-width: 112px; margin: auto;}
  .mobile-menubtn {padding: 0 0 15px 15px;}
  .main-header {position: relative; padding: 10px 0 0; border: none;}
  .logo-box {padding: 5px 0;}
  .exp span br {display: none;}
  li.contact {position: absolute; top: 42px; right: 0;}
  header .contact-info li.contact {padding-right: 15px;}
  .top-navbar {padding: 0 15px;}
  /*--end--*/

  /*--home-banner-css--*/
  .home-banner-animation {height: 654px;}
  canvas.particles-js-canvas-el {display: none !important;}
  .banner-sliderbox {padding: 0;}
  .slider-home-text {max-width: 572px;}
  /*--end--*/

  /*--client-slider-box-css--*/  
  .total-clienttext h2 {margin-right: -4px;}
  .client-sliderbox {padding: 20px; background-color: #00a5b4;}
  .total-clienttext h2 span {font-size: 12px;}
  /*--end--*/

  /*--who-weare-sec-css--*/
  section#section1 > .container > .row {margin: 0;}
  .who-weare-sec .left-contentbox {width: 100%;}
  .who-weare-sec .right-sidebarbox {width: 100%;}
  .what-wedo-sec {padding: 20px 0;}
  /*--end--*/

  /*--what-wedo-sec section-css--*/  
  .what-wedo-sec .right-sidebarbox {width: 100%;}
  .what-wedo-sec .left-contentbox {width: 100%;}
  .row.what-wearecontentbox {margin: 0;}  
  /*--end--*/

  /*--weworkwith-sec-css--*/
  .weworkwith-box1 h6 {font-size: 14px;height: auto;}
  .weworkwith-box1 p {height: auto;}
  .we-workwith-boxes .weworkwith-box1-m:nth-child(1) {padding-left: 15px;}
  .we-workwith-boxes .weworkwith-box1-m:last-child {padding-right: 15px;}
  /*--end--*/

  /*--we-areserve-customer-sec-css--*/
  .we-areserve-customer-sec > .container > .row {margin: 0;}
  .we-areserve-customer-sec .left-contentbox {width: 100%; padding-right: 15px;}
  .we-areserve-customer-sec .right-sidebarbox {width: 100%; padding: 20px 0;}
  .we-serveclient-rightbar h2 {font-size: 38px; text-align: center; line-height: 65px;}
  .we-serveclient-rightbar {padding: 40px 0;}
  .we-serveclient-rightbar h2 span {font-size: 58px; padding: 0 10px; display: inline-block;}
  /*--end--*/

  /*--why-chooseus-sec-css--*/
  .row.why-chooseushead {margin: 0;}
  .row.why-chooseus-listbox {margin: 0;}
  ul.why-chooseus-list li.liastbox-1 {height: 95px; padding-right: 15px;}
  ul.why-chooseus-list li.liastbox-1 h4 {margin: 0; padding-bottom: 5px;}
  .why-chooseus-countboxm ul li {width: 100%; display: block; padding: 10px 0;}
  .why-chooseus-countboxm ul li .why-neo-num p sup {left: -8px;}
  .content-slide1-box .contentbox {height: 344px;}
  .why-chooseus-countbox {position: inherit; height: auto; margin: 0;}
  /*--end--*/


  /*--footer-css--*/
  .copyright-box {padding: 10px 10px 0; text-align: center;}
  ul.copyrightmenu {text-align: center;}
  /*--end--*/
}

@media (max-width: 600px){
  /*--home-banner-css--*/
  .home-banner-animation {height: 598px;}
  .slider-home-text h1 {font-size: 60px;}
  .slider-home-text h2 {font-size: 54px;line-height: 48px;}
  .slider-home-text {max-width: 410px; padding: 50px 0;}
  /*--end--*/

  /*--client-slider-css--*/
  .client-sliderbox .container .row > div {width: 100%;}
  .total-clienttext {text-align: center;}
  .total-clienttext h2 span {font-size: 17px; display: inline-block; padding-left: 10px;}
  /*--end--*/

  /*--we-workwith-sec-css--*/
  .we-workwith-boxes .weworkwith-box1-m:nth-child(1) {padding-left: 0;}
  .we-workwith-boxes .weworkwith-box1-m {padding: 10px 0;}
  .we-workwith-boxes .weworkwith-box1-m:last-child {padding-right: 0;}
  /*--end--*/

  /*--we-workwithhead-css--*/
  .we-workwithhead h2{font-size: 20px;}
  /*--end--*/

  /*--we-areserve-customer-css--*/
  .we-areserve-customerhead h2 {font-size: 20px;}
 .we-areserve-customer-contbox .img-box img {max-width: 115px;}
  /*--end--*/

  /*--why-chooseus-sec-css--*/
  ul.why-chooseus-list li.liastbox-1 h4 {font-size: 16px;}
  ul.why-chooseus-list li.liastbox-1 {height: 102px;}
  .why-chooseushead h2 {font-size: 20px;}
  ul.why-chooseus-list li.liastbox-1 {width: calc(100%/2);}
  /*--end--*/

  /*--home-page-blog-slider-css--*/
  .content-slide1-box .contentbox {height: auto;}
  /*--end--*/
}

@media (max-width: 450px){
  /*--header-css--*/
  .logoboxmain {position: absolute; left: 61px; right: inherit; max-width: 112px; margin: auto;}
  /*--end--*/

  /*--home-banner-css--*/
   .home-banner-animation {height: 573px;}
  .slider-home-text h1 {font-size: 50px; line-height: 53px;}
  .slider-home-text h2 {font-size: 45px;}
  .slider-home-text {max-width: 327px; padding: 50px 0;}
  /*--end--*/

  /*--what-wedo-sec-css--*/
  .what-wearecontentbox .box-1m {width: 100%;}
  /*--end--*/

  /*--we-areserve-customer-css--*/
  .we-areserve-customer-contbox td {width: 100%; display: block;}
  /*--end--*/

  /*--why-chooseus-sec-css--*/
  ul.why-chooseus-list li.liastbox-1 {display: block;width: 100%; height: auto; margin-bottom: 20px;}
  /*--end--*/
}

@media (max-width: 350px){
  /*--home-banner-css--*/
  .slider-home-text p {font-size: 13px;}
  .slider-home-text {max-width: 294px;}
  /*--end--*/
}



