
#container,.sections{
	height: 100%;
	width: 100%;
	position: relative;
}
.section{
	width: 100%;
	height: 100vh;
	position: relative;
}
.vertical{
	position:fixed;
	list-style: none;
	right: 10px;
	top: 50%;
}
.vertical > li{
	border: 1px solid #2d2d2d;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    margin: 15px 0 0 1px;
}
.vertical > li.active{
	margin-left: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #2d2d2d;
    background: none;
    box-shadow: 0 0 10px #000;
}
